table {
    width: 100%;
  }
  
  th, td {
    padding: 10px !important;
  }
  
  mat-form-field {
    width: 40%;
  }
  
  .text-right {
    text-align: right !important;
  }
  .button-add {
    margin-right: 5px;
    width: 100px;
    max-height: 40px;    
  }