table {
    width: 100%;
  }
  
  th, td {
    padding: 10px !important;
  }
  
  mat-form-field {
    width: 40%;
  }
  
  .text-right {
    text-align: right !important;
  }
  tr.example-detail-row {
    height: 0;    
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  .obsContainer {
    /* display: block; */
    background-color: #d4d4d4; 
    border-radius: 5px;; 
    width: 100%;  
    padding: 5px;
    padding-bottom: 0;    
  }
  .descrip {
    font-size: 12px;
    margin-left: 5px;
  }
  h5 {
    font-weight: 600;
  }
  .filter-buttomAdd {
    display: flex;
    justify-content: space-between;
    flex: 10;
  }
  .filter {
    display: flex;
    justify-content: flex-start;
    flex: 6;
  }
  .button-add {
    margin-right: 5px;
    max-width: 100px;
    max-height: 40px;    
    flex: 2;
  }
  .filterKey {
    margin-left: 10px;
    max-width: 200px;
  }
  .filterValue {
    margin-left: 25px;
    max-width: 500px;
  }
  .selectProviders {
    min-width: 150px;
  }