html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background: #e2e2e2;
}
a {
    text-decoration: none;
}
/* ---------- Card Login - Register ----------- */
.form-wrapper {
    height: 100%;
}
.field-full-width {
  width: 100%;
}  
.box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    background: rgba(255, 255, 255, .6);
    left: 0;
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    z-index: -1;
}  
.form-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
}
.form-wrapper .mat-card {
    padding: 40px 50px 50px;
}
/* ---------- Card Login - Register ----------- */

/* ---------- Position Alert ----------- */
.position-absolute {
    position: absolute;
    margin-top: 50px;
}
/* ---------- Position Alert ----------- */

/* Prevents horizontal scrollbar from appearing on left nav side bar */
/* Gotta account for the left-hand padding in child menu items */

.menu-child a.mat-list-item {
  box-sizing: border-box;
}
mat-sidenav-content {
  padding-left: 10px;
  padding-right: 10px;
}

/* ---------------- form styles ------------- */
.right-align {
    text-align: right;
}
input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
    display: none;
}
.form {
    display: flex;
    flex-direction: column;    
    margin: 0 auto;
    margin-top: 50px;
    padding: 25px;    
    max-width: 500px;
    border-radius: 10px;
}
.btn-submit {
    margin-top: 15px;
}
.full-width {
    width: 100%;
}
.text-divider {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: bold;
    --text-divider-gap: 1rem;
}
.text-divider::before,
.text-divider::after {
    content: '';
    height: 2px;
    background-color: silver;
    flex-grow: 1;
}
.text-divider::before {
    margin-right: var(--text-divider-gap);
}
.text-divider::after {
    margin-left: var(--text-divider-gap);
}
/* ---------------- form styles ------------- */