<div class="form-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Iniciar sesión</mat-card-title>
    </mat-card-header>

    <mat-horizontal-stepper linear #stepper>

      <mat-step [stepControl]="emailFormGroup">
        <form fxLayout="column" [formGroup]="emailFormGroup">
          <ng-template matStepLabel>Ingresá el email</ng-template>

          <mat-form-field class="field-full-width">
            <input matInput formControlName="email" placeholder="Ingresá tu email">
            <mat-hint>usuario@email.com</mat-hint>
            
            <mat-error *ngIf="emailFormGroup.controls.email.hasError('required')">
              El email es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="emailFormGroup.controls.email.hasError('pattern')">
              Ingresá un email válido
            </mat-error>       

          </mat-form-field>

          <mat-checkbox formControlName="remember" color="primary">Recordar usuario</mat-checkbox>
          <p>Creá una cuenta nueva <a [routerLink]="['/register']"><strong>aquí</strong></a></p>

          <div class="buttons">
            <button mat-raised-button color="primary" matStepperNext (click)="next()">Siguiente</button>
          </div>

        </form>
      </mat-step> 

      <mat-step [stepControl]="passFormGroup">
        <form fxLayout="column" [formGroup]="passFormGroup">          
          <ng-template matStepLabel>Ingresá la contraseña</ng-template>

          <button fxLayoutAlign="start stretch" class="arrowBack" mat-icon-button matSuffix matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            {{ emailFormGroup.controls.email.value }}
          </button>

          <mat-form-field class="field-full-width">
            <input #inputPassword matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Ingresá tu contraseña" (keydown.enter)="onSubmitLogin($event)">
            
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="passFormGroup.controls.password.hasError('required')">
              La contraseña es <strong>requerida</strong>
            </mat-error>            
            <mat-error *ngIf="passFormGroup.controls.password.hasError('minlength')">
              La contraseña debe contener al menos 6 caracteres
            </mat-error>
            <mat-error *ngIf="passFormGroup.controls.password.hasError('pattern')">
              La contraseña debe contener al menos una letra
            </mat-error>

          </mat-form-field>

          <p>Si olvidaste la contraseña <a href="#">ingresá aquí</a></p>
          
          <div class="buttons">
            <button mat-raised-button color="primary" (click)="onSubmitLogin()">Ingresar</button>          
          </div>

        </form>
      </mat-step>

    </mat-horizontal-stepper>

  </mat-card>
</div>