<form
    class="mat-elevation-z8 form"
    [formGroup]="providerForm"    
>
    <div class="text-divider">Información del provedor</div> 
    <div class="row-form">
        <mat-form-field
            appearance="outline"
            class="row-input"
        >   
        <mat-label>Nombre</mat-label>
        <input
            matInput
            formControlName="name"
            placeholder="Ingresá el nombre"                    
        >
        <mat-error *ngIf="providerForm.controls['name'].invalid">
            El nombre es <strong>requerido</strong>
        </mat-error>
        </mat-form-field>

        <mat-form-field
            appearance="outline"
            class="row-input"             
        >
          <mat-label>Apellido</mat-label>
            <input
                matInput
                formControlName="lastName"
                placeholder="Ingresá el apellido"                
            >
            <mat-hint class="lastname">Si es una persona y no una razón social</mat-hint>
        </mat-form-field>
    </div>


    <div class="text-divider">Información de contacto</div>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
            matInput     
            type="email"  
            max="40" maxlength="40"     
            formControlName="email"
            placeholder="cliente@email.com"            
        >       
        <mat-error *ngIf="providerForm.controls['email'].hasError('required')">
          El email es <strong>requerido</strong>
        </mat-error>   
        <mat-error *ngIf="providerForm.controls['email'].hasError('pattern')">
          Debés ingresar un email <strong>válido</strong>
        </mat-error>  
    </mat-form-field>


    <!-- <div class="text-divider">Phone Number Info</div> -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número de teléfono / celular</mat-label>
        <input
            matInput 
            type="decimal"
            formControlName="phone"
            mask="(000) 000-0000"
            placeholder="Ejemplo: (341) 512-3456"
        >
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Incluir código de área - No ingresar el '15'</mat-hint>
        <mat-error *ngIf="providerForm.controls['phone'].invalid">
            El número de teléfono es <strong>requerido</strong>
        </mat-error>
    </mat-form-field>


    <div class="text-divider">País - Provincia - Ciudad</div> 
    <div class="row-form">
        <mat-form-field
            appearance="outline" 
            class="row-input"             
        >
            <mat-label>País</mat-label>
            <mat-select
                formControlName="country"                
            >
                <mat-option>--</mat-option>
                <mat-option
                    *ngFor="let country of countries; let i = index"
                    [value]="country.CountryName"
                    (click)="setStates(i)"
                >
                    {{country.CountryName}}
                </mat-option>
            </mat-select>
            <!-- <input
              matInput
              formControlName="country"
              placeholder="Enter a City"                
            > -->
            <mat-error *ngIf="providerForm.controls['country'].invalid">
                El país es <strong>requerido</strong>
            </mat-error>              
        </mat-form-field>

        <mat-form-field
            appearance="outline" 
            class="row-input"             
        >
            <mat-label>Provincia</mat-label>
            <mat-select
                formControlName="state"                
            >
                <mat-option>--</mat-option>
                <mat-option
                    *ngFor="let state of states; let i = index"
                    [value]="state.StateName"
                    (click)="setCities(i)"
                >
                    {{state.StateName}}
                </mat-option>
            </mat-select>
            <!-- <input
              matInput
              formControlName="state"
              placeholder="Enter a City"                
            > -->
            <mat-error *ngIf="providerForm.controls['state'].invalid">
                La provincia es <strong>requerida</strong>
            </mat-error>               
        </mat-form-field>

        <div class="cityField">
            <mat-form-field
                appearance="outline" 
                class="row-input"
                *ngIf="!checkValue"
            >                
                <mat-label>Seleccioná una ciudad</mat-label>
                <mat-select
                    formControlName="city"                
                >
                    <mat-option>--</mat-option>
                    <mat-option
                        *ngFor="let city of cities"
                        [value]="city"
                    >
                        {{city}}
                    </mat-option>
                </mat-select>                
                <mat-error *ngIf="providerForm.controls['city'].invalid">
                    La ciudad es <strong>requerida</strong>
                </mat-error>        
            </mat-form-field>

            <mat-form-field
                appearance="outline" 
                class="row-input"
                *ngIf="checkValue"
            >  
            <mat-label>Ciudad</mat-label>
            <input
                matInput
                formControlName="city"
                placeholder="Enter a City"                
            >
            <mat-error *ngIf="providerForm.controls['city'].invalid">
                La ciudad es <strong>requerida</strong>
            </mat-error>        
            </mat-form-field>

            <mat-checkbox
                class="checkCity"
                [disabled]="disabled"
                [value]="checkValue"
                (change)="checkValue = !checkValue"
            >
                No encuentro en la lista
            </mat-checkbox>
        </div> 
    </div>

    <button
        mat-raised-button
        *ngIf="!disabled"
        type="button"
        color="primary"
        class="btn-submit full-width" 
        (click)="onSubmit(providerForm.value)"             
    >
        {{ edit ? 'Modificar provedor' : 'Agregar provedor'}}
    </button>

</form>