<form
    class="mat-elevation-z8 form"
    [formGroup]="clientForm"    
>
    <div class="text-divider">Información del cliente</div> 
    <div class="row-form">
        <mat-form-field
            appearance="outline"
            class="row-input"            
        >   
        <mat-label>Nombre</mat-label>
        <input
            matInput
            formControlName="firstName"
            placeholder="Ingresá el nombre"                    
        >
        <mat-error *ngIf="clientForm.controls['firstName'].invalid">
            El nombre es <strong>requerido</strong>
        </mat-error>
        </mat-form-field>

        <mat-form-field
            appearance="outline"
            class="row-input"             
        >
            <mat-label>Apellido</mat-label>
            <input
                matInput
                formControlName="lastName"
                placeholder="Ingresá el apellido"                
            >
            <mat-error *ngIf="clientForm.controls['lastName'].invalid">
                El apellido es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>


    <div class="text-divider">Información de contacto</div>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input
            matInput            
            formControlName="email"
            placeholder="cliente@email.com"            
        >        
        <mat-error *ngIf="clientForm.controls['email'].invalid">
            El email es <strong>requerido</strong>
        </mat-error>   
    </mat-form-field>

    <!-- <div class="text-divider">Phone Number Info</div> -->
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Número de teléfono / celular</mat-label>
        <input
            matInput 
            formControlName="phone"
            placeholder="Ingresá un número de teléfono"
        >
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Incluir código de área</mat-hint>
        <mat-error *ngIf="clientForm.controls['phone'].invalid">
            El número de teléfono es <strong>requerido</strong>
        </mat-error>
    </mat-form-field>


    <div class="text-divider">Información del domicilio</div> 
    <div class="row-form">
        <mat-form-field
            appearance="outline"
            class="row-input"             
        >   
        <mat-label>Calle</mat-label>
        <input
            matInput
            formControlName="streetName"
            placeholder="Ingresá la calle"            
        >
        <mat-error *ngIf="clientForm.controls['streetName'].invalid">
            La calle es <strong>requerida</strong>
        </mat-error>
        </mat-form-field>

        <mat-form-field
            appearance="outline"
            class="stNumber"            
        >
            <mat-label>Número</mat-label>
            <input
                matInput
                formControlName="streetNumber"
                placeholder="Ingresá el número"                
            >
            <mat-error *ngIf="clientForm.controls['streetNumber'].invalid">
                El número es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>


    <div class="text-divider">País - Provincia - Ciudad</div>
    <div class="row-form">
        <mat-form-field
            appearance="outline" 
            class="row-input"             
        >
            <mat-label>País</mat-label>
            <!-- <mat-select
                formControlName="country"                               
            >
                <mat-option>--</mat-option>
                <mat-option
                    *ngFor="let country of countries; let i = index"                    
                    [value]="country.CountryName"
                    (click)="setStates(i)"
                >
                    {{country.CountryName}}
                </mat-option>
            </mat-select> -->
            <input
              matInput
              formControlName="country"
              placeholder="Ingresá el país"                
            >
            <mat-error *ngIf="clientForm.controls['country'].invalid">
                El país es <strong>requerido</strong>
            </mat-error>              
        </mat-form-field>
        
        <mat-form-field
            appearance="outline" 
            class="row-input"             
        >
            <mat-label>Provincia</mat-label>
            <!-- <mat-select
                formControlName="state"
            >
                <mat-option>--</mat-option>
                <mat-option
                    *ngFor="let state of states; let i = index"
                    [value]="state.StateName"
                    (click)="setCities(i)"
                >
                    {{state.StateName}}
                </mat-option>
            </mat-select> -->
            <input
              matInput
              formControlName="state"
              placeholder="Ingresá la provincia"                
            >
            <mat-error *ngIf="clientForm.controls['state'].invalid">
                La provincia es <strong>requerida</strong>
            </mat-error>               
        </mat-form-field>

        <div class="cityField">
            <mat-form-field
                appearance="outline" 
                class="row-input"
                *ngIf="!checkValue"             
            >                
                <mat-label>Seleccioná una ciudad</mat-label>
                <mat-select
                    formControlName="city"                
                >
                    <mat-option>--</mat-option>
                    <mat-option
                        *ngFor="let city of cities"
                        [value]="city"
                    >
                        {{city}}
                    </mat-option>
                </mat-select>                
                <mat-error *ngIf="clientForm.controls['city'].invalid">
                    La ciudad es <strong>requerida</strong>
                </mat-error>        
            </mat-form-field>

            <mat-form-field
                appearance="outline" 
                class="row-input"
                *ngIf="checkValue"             
            >  
            <mat-label>Ciudad</mat-label>
            <input
                matInput
                formControlName="city"
                placeholder="Ingresá la ciudad"                
            >
            <mat-error *ngIf="clientForm.controls['city'].invalid">
                La ciudad es <strong>requerida</strong>
            </mat-error>        
            </mat-form-field>

            <!-- <mat-checkbox
                class="checkCity"
                [value]="checkValue"
                (click)="checkValue = !checkValue"
            >
                Enter a City
            </mat-checkbox> -->
        </div> 
    </div>

    <button
        mat-raised-button
        type="button"
        color="primary"
        class="btn-submit full-width"  
        (click)="onSubmit(clientForm.value)"         
    >
        {{ edit ? 'Modificar cliente' : 'Agregar cliente'}}
    </button>
</form>