<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    class="menu-button"
    fxHide fxShow.lt-md
  >
    <mat-icon>menu</mat-icon>
  </button>  

  <span>Sistema Fornero</span>
  <span class="spacer"></span>

  <div *ngIf="alertsMsg.length > 0" class="badges">
    <mat-icon
      [matBadge]="alertsMsg.length"
      matBadgeColor="warn"
      [matTooltip]="alertsMsg.join('\n')"
      matTooltipClass="tooltip-red"
      matTooltipShowDelay="1000"
      matTooltipHideDelay="2000"
      aria-label="Button that displays a tooltip with a customized delay in showing and hiding"
    >alarm</mat-icon>    
  </div>

  <span>Hola {{ userName }}!</span>
  <button
    mat-raised-button
    (click)="logout()"
    [style.marginLeft.px]="25"
    color="basic"
    fxShow fxHide.lt-md
  >Cerrar sesión</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="opened">
    <mat-nav-list>
      <app-menu-list-item *ngFor="let item of menu" [item]="item"></app-menu-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>