<div class="form-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Crear una cuenta nueva</mat-card-title>
      <mat-card-subtitle>
        Si ya tenés una cuenta, <a [routerLink]="['/login']"><strong>iniciá sesión</strong></a>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-vertical-stepper linear #stepper>

      <mat-step [stepControl]="nameFormGroup">
        <form [formGroup]="nameFormGroup">
          <ng-template matStepLabel>Nombre</ng-template>

          <mat-form-field class="field-full-width">            
            <input matInput formControlName="name" placeholder="Ingresá tu nombre">            
            
            <mat-error>
              Este campo es requerido
            </mat-error>
          </mat-form-field>          
          
          <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </form>
      </mat-step>

      <mat-step [stepControl]="emailFormGroup">
        <form [formGroup]="emailFormGroup">
          <ng-template matStepLabel>Email</ng-template>

          <mat-form-field class="field-full-width">            
            <input matInput formControlName="email" placeholder="Ingresá tu email">            
            <mat-hint>usuario@email.com</mat-hint>

            <mat-error *ngIf="emailFormGroup.controls.email.hasError('required')">
              El email es <strong>requerido</strong>
            </mat-error>
            <mat-error *ngIf="emailFormGroup.controls.email.hasError('pattern')">
              Ingresá un valor válido para el email
            </mat-error>  
          </mat-form-field>          
          
          <!-- <button mat-raised-button color="accent" matStepperPrevious>Back</button> -->
          <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </form>
      </mat-step>
      
      <mat-step [stepControl]="passFormGroup">
        <form [formGroup]="passFormGroup">          
          <ng-template matStepLabel>Contraseña</ng-template>

          <mat-form-field class="field-full-width">            
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" placeholder="Ingresá una contraseña">
            
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <mat-error *ngIf="passFormGroup.controls.password.hasError('required')">
              La contraseña es <strong>requerida</strong>
            </mat-error>            
            <mat-error *ngIf="passFormGroup.controls.password.hasError('minlength')">
              La contraseña debe contener al menos 6 caracteres
            </mat-error>
            <mat-error *ngIf="passFormGroup.controls.password.hasError('pattern')">
              La contraseña debe contener al menos una letra
            </mat-error>

          </mat-form-field>         
          
          <!-- <button mat-raised-button color="accent" matStepperPrevious>Back</button> -->
          <button mat-raised-button color="primary" matStepperNext>Siguiente</button>          

        </form>
      </mat-step>

      <mat-step [stepControl]="confirmPassFormGroup">
        <form [formGroup]="confirmPassFormGroup">          
          <ng-template matStepLabel>Repetir la contraseña</ng-template>

          <mat-form-field class="field-full-width">            
            <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPass" placeholder="Confirmar la contraseña">
            
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
              <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>            
 
            <mat-error>              
              Las contraseñas no coinciden
            </mat-error>            
          </mat-form-field>
          
          <button mat-raised-button color="accent" matStepperPrevious (click)="goToLogin()">Cancelar registro</button>
          <button mat-raised-button color="primary" (click)="onSubmitRegister()">Crear cuenta</button>          

        </form>
      </mat-step>

    </mat-vertical-stepper>

  </mat-card>
</div>