<form
    class="mat-elevation-z8 form"
    [formGroup]="productForm"    
>

    <div class="text-divider">Código - Descripción</div> 
    <div class="column-fields">
        <mat-form-field
          appearance="outline"
          class="code"
        >
            <mat-label>Código</mat-label>
            <input
              matInput
              formControlName="code"
              placeholder="Código"
              maxlength="12"
            >
            <!-- <mat-select
                formControlName="code"                
            >
                <mat-option>--</mat-option>
                <mat-option
                    *ngFor="let product of products"
                    [value]="product.code"
                    (click)=setDescription(product.descrip)
                >
                    {{product.code}}
                </mat-option>
            </mat-select> -->
            <mat-error *ngIf="productForm.controls['code'].invalid">El código es <strong>requerido</strong></mat-error>                
        </mat-form-field>

        <mat-form-field class="fieldTextarea" appearance="outline" *ngIf="!disabled">
          <mat-label>Descripción</mat-label>
          <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="description"
          ></textarea>
            <mat-error *ngIf="productForm.controls['description'].invalid">La descrición es <strong>requerida</strong></mat-error>
        </mat-form-field>
    </div>

    <div class="text-divider">Precio</div>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Precio</mat-label>
        <input
          matInput                
          formControlName="price"
          placeholder="0"
          class="right-align"
          (keydown)="validateNumber($event, true)"
          (blur)="formatNumber('price')"
        >
        <span matPrefix>$&nbsp;</span>
        <mat-error *ngIf="productForm.controls['price'].invalid">
            El precio es <strong>requerido</strong>
        </mat-error>   
    </mat-form-field>

    <div class="text-divider">Stock</div>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Stock</mat-label>
        <input
          matInput
          formControlName="stock"
          placeholder="0"
          class="right-align"
          (keydown)="validateNumber($event, false)"
          (blur)="formatNumber('stock')"
        >
        <mat-error *ngIf="productForm.controls['stock'].invalid">
            El stock es <strong>requerido</strong>
        </mat-error>
    </mat-form-field>

    <button
        mat-raised-button
        *ngIf="!disabled"
        type="button"
        color="primary"
        class="btn-submit full-width" 
        (click)="onSubmit(productForm.value)"          
    >
        {{ edit ? 'Modificar producto' : 'Agregar producto'}}
    </button>

</form>