
<form
    class="mat-elevation-z8 form"
    [formGroup]="articleForm"    
>

    <div class="text-divider">Código - Descripción</div> 
    <div class="code-descrip">
        <mat-form-field
            appearance="outline"
            class="code marginRight"
        >
            <mat-label>Ingresá el código</mat-label>
            <mat-select
                formControlName="code"                
            >
                <mat-option>--</mat-option>
                <mat-option
                    *ngFor="let article of articles"
                    [value]="article.code"
                    (click)="setDescription(article.descrip)"
                >
                    {{article.code}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="articleForm.controls['code'].invalid">Seleccioná un código</mat-error>                
        </mat-form-field>

        <mat-form-field
            appearance="outline"
            class="descrip"
        >
            <mat-label>Descripción</mat-label>
            <input
                matInput
                formControlName="description"
                placeholder="Descripción"
                readonly
            >
            <mat-error *ngIf="articleForm.controls['description'].invalid">Ingresá la descripción</mat-error>
        </mat-form-field>
    </div>

    <div class="text-divider">Precio - Provedor</div>
    <div class="code-descrip">
        <mat-form-field appearance="outline" class="descrip marginRight">
            <mat-label>Precio</mat-label>
            <input
                matInput                
                formControlName="price"
                placeholder="0"
                class="right-align"
                (keydown)="validateNumber($event, true)"
                (blur)="formatNumber('price')"
            >
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="articleForm.controls['price'].invalid">
                El precio es <strong>requerido</strong>
            </mat-error>   
        </mat-form-field>
        <mat-form-field appearance="outline" class="descrip">
            <mat-label>Provedores</mat-label>
            <mat-select
                formControlName="providers"
                multiple              
            >                
                <mat-option
                    *ngFor="let provider of providers"
                    [value]="provider.id"                    
                >
                    {{provider.name}} {{provider.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="text-divider">Stock - Punto de Pedido</div>
    <div class="code-descrip">
        <mat-form-field appearance="outline" class="descrip marginRight">
            <mat-label>Stock</mat-label>
            <input
                matInput
                formControlName="stock"
                placeholder="0"
                class="right-align"
                (keydown)="validateNumber($event, false)"
                (blur)="formatNumber('stock')"
            >
            <mat-error *ngIf="articleForm.controls['stock'].invalid">
                El stock es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="descrip">
            <mat-label>Punto de pedido</mat-label>
            <input
                matInput
                formControlName="poo"
                placeholder="0"
                class="right-align"
                (keydown)="validateNumber($event, false)"
                (blur)="formatNumber('poo')"
            >
            <mat-error *ngIf="articleForm.controls['poo'].invalid">
                El punto de pedido es <strong>requerido</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <button
        mat-raised-button
        *ngIf="!disabled"
        type="button"
        color="primary"
        class="btn-submit full-width"           
        (click)="onSubmit(articleForm.value)"
    >        
        {{ edit ? 'Modificar artículo' : 'Agregar artículo'}}
    </button>

</form>



  