
<form
    class="mat-elevation-z8 form"
    [formGroup]="articleForm"    
>

    <div class="text-divider">Code - Description</div> 
    <div class="code-descrip">
        <mat-form-field
            appearance="outline"
            class="code marginRight"
        >
            <mat-label>Enter Code</mat-label>
            <mat-select
                formControlName="code"                
            >
                <mat-option>--</mat-option>
                <mat-option
                    *ngFor="let article of articles"
                    [value]="article.code"
                    (click)="setDescription(article.descrip)"
                >
                    {{article.code}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="articleForm.controls['code'].invalid">Select a code article</mat-error>                
        </mat-form-field>

        <mat-form-field
            appearance="outline"
            class="descrip"
        >
            <mat-label>Description</mat-label>
            <input
                matInput
                formControlName="description"
                placeholder="Description"
                readonly
            >
            <mat-error *ngIf="articleForm.controls['description'].invalid">Enter a description</mat-error>
        </mat-form-field>
    </div>

    <div class="text-divider">Price - Provider</div>
    <div class="code-descrip">
        <mat-form-field appearance="outline" class="descrip marginRight">
            <mat-label>Price</mat-label>
            <input
                matInput
                type="number"
                formControlName="price"
                placeholder="0"
                class="right-align"
            >
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="articleForm.controls['price'].invalid">
                Price is <strong>required</strong>
            </mat-error>   
        </mat-form-field>
        <mat-form-field appearance="outline" class="descrip">
            <mat-label>Providers</mat-label>
            <mat-select
                formControlName="providers"
                multiple              
            >                
                <mat-option
                    *ngFor="let provider of providers"
                    [value]="provider.id"                    
                >
                    {{provider.name}} {{provider.lastName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="text-divider">Stock - Punto de Pedido</div>
    <div class="code-descrip">
        <mat-form-field appearance="outline" class="descrip marginRight">
            <mat-label>Stock</mat-label>
            <input
                matInput
                type="number"
                formControlName="stock"
                placeholder="0"
                class="right-align"
            >
            <mat-error *ngIf="articleForm.controls['stock'].invalid">
                Stock is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="descrip">
            <mat-label>Point of Order</mat-label>
            <input
                matInput
                type="number"
                formControlName="poo"
                placeholder="0"
                class="right-align"
            >
            <mat-error *ngIf="articleForm.controls['poo'].invalid">
                Point of Order is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <button
        mat-raised-button
        type="button"
        color="primary"
        class="btn-submit full-width"           
        (click)="onSubmit(articleForm.value)"
    >        
        {{ edit ? 'Update Article' : 'Create Article'}}
    </button>

</form>



  